/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'theme.scss';
$md-deputy-50 : #e0f4fb;
$md-deputy-100 : #b3e3f6;
$md-deputy-200 : #80d0f0;
$md-deputy-300 : #4dbde9;
$md-deputy-400 : #26aee5;
$md-deputy-500 : #00a0e0;
$md-deputy-600 : #0098dc;
$md-deputy-700 : #008ed8;
$md-deputy-800 : #0084d3;
$md-deputy-900 : #0073cb;
$md-deputy-A100 : #f3f9ff;
$md-deputy-A200 : #c0e0ff;
$md-deputy-A400 : #8dc7ff;
$md-deputy-A700 : #74bbff;
$md-deputy-contrast-50 : #000000;
$md-deputy-contrast-100 : #000000;
$md-deputy-contrast-200 : #000000;
$md-deputy-contrast-300 : #000000;
$md-deputy-contrast-400 : #000000;
$md-deputy-contrast-500 : #ffffff;
$md-deputy-contrast-600 : #ffffff;
$md-deputy-contrast-700 : #ffffff;
$md-deputy-contrast-800 : #ffffff;
$md-deputy-contrast-900 : #ffffff;
$md-deputy-contrast-A100 : #000000;
$md-deputy-contrast-A200 : #000000;
$md-deputy-contrast-A400 : #000000;
$md-deputy-contrast-A700 : #000000;
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

/* UI Elements */

.btn-primary {
  background-color: $md-deputy-500 !important;
}
.btn-primary:hover {
  background-color: $md-deputy-700 !important;
}
.user-link, .blue-bold {
  color: $md-deputy-500 !important;
  font-weight: bold;
  font-size: 16px;
}

.mat-menu-panel {
  width: 223px;
  margin-top: 40px;
}

.mat-menu-item {
  font-size: 14px !important;
  height: 35px !important;
}

/* Tables */

table {
  width: 100%;
}

.mat-header-row {
  background-color: rgb(237, 237, 237);
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-header-row th:first-of-type, th:last-of-type {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.user-table .mat-cell:first-of-type {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding-top: 15px;
}

.mat-header-cell {
  font-size: 16px;
  font-weight: 500;
}

.mat-row:nth-of-type(2n) {
  background-color: #f9f9f9 !important;
}

// Table-specific Content

.user-role {
  color: gray;
}

.user-initials {
  background-color: #dfdfdf;
  color: #3a3a3a;
  font-weight: bold;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
  padding-top: 0.6rem;
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.user-text {
  padding-left: 1rem;
}

/* Page Headers */

.header-tab {
  padding: 1rem;
}

.flex-header {
  display: flex;
  margin-bottom: 15px;
}

.flex-header h1 {
  font-weight: 500;
  color: #676767;
}

.flex-header .middle-line-container{
  flex: 1 1 auto;
}

.middle-line {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-top: 25px;
  margin-left: 2.5%;
  width: 95%;
}

/* Generic Styling */

.flex-start{
  display: flex;
  justify-content: flex-start;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.float-right {
  float: right;
}

.fill-space {
  flex: 1 1 auto;
}
