
<div class="header-tab">
  <h2>Part One</h2>
  <h3>Question 1 <i class="blue-bold">HTML</i></h3>

  <p>I created a non-functional login screen, mirrored as closely as possible to the mockup shown in the instructions.</p>

  <h3>Question 2 <i class="blue-bold">JavaScript & jQuery</i></h3>

  <p>I re-created the people page, and added a few Material Design touches. The filter is fully functional, allowing searches by
  User Id, User DisplayName, Location Id, Location Name, Role Id, and Role Name. The filter works by itself or with the
  dropdown that restricts the search category by specific search entities. </p>

  <p>The data is retrieved using a NodeJS backend that I created (server.js). I utilized an Interface design pattern.
    Each data entity (UserData, RoleData, LocationData, etc) implements the Data interface since they have one property in
    common, the Id. This allowed me to make my rest calls generic enough for resuse.</p>

  <h3>Question 3 <i class="blue-bold">Shift Overlap Detection</i></h3>

  <p>I mocked data for several employees and then created a table to display them. Adding and deleting of schedules is
    functional as well as form validation which checks for existing user and department before assigning a schedule. </p>

  <h3>Question 4 <i class="blue-bold">Users Hierarchy</i></h3>

  <p>I used expansion panels to assist in grouping the users by role, and tables to aid in displaying the employee data.
  I also added a checkbox to restrict the results to the location of the user. </p>

  <h2>Part Two</h2>

  <ol>
    <li>
      <h3>What is important to you in your career?</h3>

      <p>The most important thing for me in my career is growth. I aim for all kinds of growth -- whether it's skill, mental,
        financial, or emotional. Opportunities to rise to the challenge are pertinent to any avenue in life when you're
        aspiring to make it to the next level.</p>
    </li>
    <li>
      <h3>What excites you about Deputy and the opportunity?</h3>
      <p>From reading about the position and after researching the company, I can tell that Deputy is definitely
        forward-thinking. Given the number of integrations and reasonable pricing that is offered for, I believe that
        things are solid and going in a positive direction. Being a language agnostic myself, I was happy to see that
        the position was looking for someone who was more of a polyglot. </p>
    </li>
    <li>
      <h3>What would you like us to know about you?</h3>
      <p>I'm a solutionist by nature. I've navigated some of the toughest challenges anyone has ever had to face, and I've
      yet to encounter one I could not overcome. This passion for problem-solving is what led me to code. After my son
      was diagnosed with autism, I immediately started looking into things I could do to ensure he would be self-sufficient.
      That's when I found computer science. I intended to take up the major to teach my son how to code. What happened was
      something I didn't expect-- I found the career that I was meant to have. All we do is solve problems. I've never held
      a more rewarding job.</p>
    </li>
  </ol>

</div>

