#logo-icon {
  height: 50px;
  z-index: 1;
  margin-top: 5px;
}

#logo-text {
  height: 40px;
  z-index: 0;
  margin-top: -17px;
  margin-left: -15px;
}

.fill-space {
  flex: 1 1 auto;
}

button {
  height: 100%;
}
