<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <img id="logo-icon" src="assets/img/logo-icon.png">
  <img id="logo-text" src="assets/img/logo-text.png">
</mat-toolbar>

<form id="auth-form">
  <div class="form-group">
    <label for="inputEmail">Email address</label><a class="label-link float-right" href="#">Not verified?</a>
    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label><a class="label-link float-right" href="#">Forgot Password</a>
    <input type="password" class="form-control" id="inputPassword">
  </div>
  <button type="button" class="btn btn-primary btn-lg btn-block">Log in</button>
  <small class="alt-login-label larger-font">Or login with:</small>
  <div class="btn-group-sm">
    <button type="button" class="btn btn-facebook">Facebook</button>
    <button type="button" class="btn btn-google">Google</button>
  </div>
  <small class="alt-login-label">Don't have a Deputy account?<br><a class="label-link" href="#">Sign up now</a> Or join with <a class="label-link" href="#">third party service.</a></small>

</form>
