#people-header {
  display: flex;
  margin-bottom: 15px;
}

#people-header h1 {
  color: #676767;
  font-weight: 500;
}

#people-header .middle-line-container{
  flex: 1 1 auto;
}

#filter-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.mat-column-Action {
  text-align: right;
}

.mat-column-LocationName {
  min-width: 15rem;
}

.mat-cell:first-of-type {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding-top: 15px;
}

.user-initials {
  background-color: #dfdfdf;
  color: #3a3a3a;
  font-weight: bold;
  font-size: 20px;
  padding: 0.3rem 0.5rem;
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.user-text {
  padding-left: 1rem;
}

.user-link {
  color: #00a0e0 !important;
  font-weight: bold;
  font-size: 16px;
}

.user-role {
  color: gray;
}

.btn-group button {
  min-width: 15rem !important;
  background-color: #F7F7F7;
  color: dimgray;
  border-color: gainsboro;
}

.input-group {
  margin: 0 2rem;
}

.search-bar {
  border-radius: 5px;
  border: 1px inset rgba(0,0,0,0.15);
}

input {
  border: none;
  color: gray;
}

.input-group-addon span {
  background-color: white;
  border: none;
  color: gray;
}

.middle-line {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-top: 25px;
  margin-left: 2.5%;
  width: 95%;
}

table {
  width: 100%;
}

.mat-header-row {
  background-color: rgb(237, 237, 237);
}

.mat-header-cell {
  font-size: 16px;
  font-weight: 500;
}

.gray-btn {
  background-color: #F7F7F7;
  color: gray;
  border-radius: 4px;
}

.mat-header-row th:first-of-type, th:last-of-type {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

th.mat-sort-header-sorted {
  color: black;
}

#people-tab {
  padding: 1rem;
}
