<div id="people-tab">
  <div id="people-header">
    <h1>People</h1>
    <div class="middle-line-container">
      <div class="middle-line"></div>
    </div>
  </div>

<div id="filter-buttons">
  <!-- Single button -->
  <div class="btn-group">
    <button type="button" id="filter-button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filter <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
  <div class="input-group search-bar">
    <div class="input-group-prepend input-group-addon">
      <span class="input-group-text"><i class="fa fa-search"></i></span>
    </div>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
    <div class="input-group-append input-group-addon">
      <span class="input-group-text">showing {{dataSource.data.length}} people</span>
    </div>
  </div>
  <div class="btn-group">
    <button type="button" id="filter-button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Also Show <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
</div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="DisplayName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name & Access </th>
      <td mat-cell *matCellDef="let element">
        <span class="user-initials">{{element.DisplayName.charAt(0)}}{{element.DisplayName.charAt(element.DisplayName.indexOf(' ') + 1)}}</span>
        <div class="user-text">
          <a class="user-link">{{element.DisplayName}}</a>
          <p class="user-role">{{element.RoleName}}</p>
        </div>
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="LocationName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Main Location </th>
      <td mat-cell *matCellDef="let element"> {{element.LocationName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
      <td mat-cell *matCellDef="let element"><button mat-raised-button class="gray-btn">{{element.Action}}</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
